{% extends 'content_template.html'%}

{% block content%}

<div class="frame-content container-fluid">
	<div class="page-header">
	    <h2>ARP 管理</h2>
	
		<ol class="breadcrumb">
		  <li><a href="/hl/dashboard">首页</a></li>
		  <li><a href="#">网络管理</a></li>
		  <li class="active"><strong>ARP管理</strong></li>
		</ol>
	</div>
	<div class="ibox container-fluid">
	
		<div class="mb15">
			<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active">
			    	<a href="#" aria-controls="sysinfo" role="tab" data-toggle="tab">ARP列表</a>
			    </li>
			</ul>
		</div>
		<div class="mb15">
			<div class="btn-group">
				<a id="addbtn" class="btn btn-default" href="#">增加<span class="fa fa-plus"></span></a>
				<a id="delbtn" class="btn btn-default action-delete" href="#">删除<span class="fa fa-remove"></span></a>
				<a class="btn btn-default" href="javascript:location.reload();">刷新<span class="fa fa-refresh"></span></a>
			</div>			
		</div>
		<div class="mb15">
			<table id="arp-table" class="row-of-icons table table-hover table-bordered table-striped m0">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>IP地址</th>
						<th>MAC地址</th>
						<th>端口</th>
						<th>类型</th>
					</tr>
				</thead>
				<tbody>
					{% for index in range(len(arps))%}
						<tr>
							<td>{{index}} </td>
							<td class="arp-ip">{{arps[index]['ip']}}</td>
							<td class="arp-mac">{{arps[index]['mac']}}</td>
							<td >{{arps[index]['interface']}}</td>
							<td class="arp-iptype">{{arps[index]['arp_type']}}</td>
						</tr>
					{% end %}
				</tbody>
			</table>
			{% include '_pagination.html' %}
		</div>
	</div>
</div>
{% include 'modal/add_arp_modal.html' %}
{% include 'modal/delete_confirm_modal.html' %}

{% end %}

{% block script %}
	<script src="/static/js/arp.js"></script>
{% end %}