{% extends 'content_template.html'%}
{% block content%}
<div class="frame-content container-fluid">
	<div class="page-header">
	    <h2>证书管理</h2>
	
		<ol class="breadcrumb">
		  <li><a href="/hl/dashboard">首页</a></li>
		  <li><a href="#">系统管理</a></li>
		  <li class="active"><strong>证书管理</strong></li>
		</ol>
	</div>
	<div class="ibox container-fluid">
		<div class="mb15">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#">证书管理</a></li>
				<li><a href="#">证书吊销列表管理</a></li>
			</ul>
		</div>
		<div class="mb15">
			<div class="btn-group">
				<a class="btn btn-default" href="#">增加<span class="fa fa-plus"></span></a>
				<a class="btn btn-default action-delete" href="#">删除<span class="fa fa-remove"></span></a>
				<a class="btn btn-default" href="#">导入<span class="fa fa-save"></span></a>
				<a class="btn btn-default" href="#">导出<span class="fa fa-open"></span></a>
				<a class="btn btn-default" href="#">导出p12格式证书<span class="fa fa-open"></span></a>
				<a class="btn btn-default" href="javascript:location.reload();">刷新<span class="fa fa-refresh"></span></a>
			</div>
			<div class="pull-right dropdown">
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					显示列
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="javascript:void(0);">
							<label><input type="checkbox" checked="checked" column-data="1" />名称</label>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<label><input type="checkbox" checked="checked" column-data="2" />证书文件</label>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<label><input type="checkbox" checked="checked" column-data="3" />秘钥文件</label>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<label><input type="checkbox" checked="checked" column-data="4" />请求文件</label>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<label><input type="checkbox" checked="checked" column-data="5" />格式</label>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<label><input type="checkbox" checked="checked" column-data="6" />到期时间</label>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<label><input type="checkbox" checked="checked" column-data="7" />有效时间（天）</label>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="mb15">
			<table class="table table-hover table-bordered table-striped m0">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>名称</th>												
						<th>证书文件</th>																					
						<th>秘钥文件</th>	
						<th>请求文件</th>	
						<th>格式</th>	
						<th>到期时间</th>
						<th>有效时间（天）</th>	
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
			{% include '_pagination.html' %}
		</div>
	</div>
</div>
{% end %}