{include file='header.html'}
<div class="container-fluid">
	<ul class="nav nav-tabs">
		<li class="active">
			<a data-toggle="tab">SNMPv3用户管理--详情</a>
		</li>
	</ul>
	<div class="container-fluid mt15">
		<form action="" method="POST" class="form-horizontal" role="form">
			<div class="form-group">
	            <label for="type" class="col-md-2 h34">虚拟IP类型:</label>
	            <div class="col-md-10">
	                <div class="radio">
	                    <label>
	                        <input type="radio" id="type" name="type" value="ipv4" checked="checked" />
	                        IPv4
	                    </label>
	                    <label>
	                        <input type="radio" name="type" value="ipv6" />
	                        IPv6
	                    </label>
	                </div>
	            </div>
			</div>
			<div class="form-group">
				<label for="ipaddr" class="col-md-2 h34">管理口地址:</label>
				<div class="col-md-10">
					<div class="input-group w300">
						<input type="text" class="form-control" id="ipaddr" name="address" value="" />
						<span class="input-group-addon"><b>/</b></span>
						<input type="text" class="form-control" id="netmask" name="netmask" value="" />
					</div>
				</div>
			</div>
			<div class="form-group">
	            <div class="form-actions">
	               <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>保存</button>
	               <button type="reset"  class="btn btn-default"><span class="glyphicon glyphicon-cog"></span>重置</button>
	               <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>取消</button>
	        	</div>
			</div>
		</form>
	</div>	
</div>
{include file='footer.html'}