{% extends 'content_template.html'%}
{% block content%}
<div class="frame-content container-fluid">
	<div class="page-header">
	    <h2>SNMP管理</h2>
	
		<ol class="breadcrumb">
		  <li><a href="/hl/dashboard">首页</a></li>
		  <li><a href="#">系统管理</a></li>
		  <li class="active"><strong>SNMP管理</strong></li>
		</ol>
	</div>

	<div class="ibox container-fluid">
		<div class="mb15">
			<ul class="nav nav-tabs">
				<li class="active"><a>SNMP配置管理</a></li>
				<li><a>v3用户管理</a></li>
				<li><a>网络白名单管理</a></li>
			</ul>
		</div>
		<div class="mb15">
			<div class="container-fluid">
				<form action="" method="POST" class="form-horizontal">
					<div class="form-group">
			            <label for="enable" class="col-md-2 control-label">SNMP控制:</label>
			            <div class="col-md-10">
			                <div class="radio">
			                    <label class="col-md-6">
			                        <input type="radio" id="enable" name="enable" value="on" />
									启用
			                    </label>
			                    <label class="col-md-6">
			                        <input type="radio" name="enable" value="off" checked="checked" />
									禁用
			                    </label>
			                </div>
			            </div>
			        </div>
			        <div class="form-group">
					    <label for="auth_type" class="col-md-2 control-label">SNMPv3密码加密类型:</label>
					    <div class="col-md-10">
					        <div class="radio">
					            <label class="col-md-6">
					                <input type="radio" id="auth_type" name="auth_type" />
					                SHA
					            </label>
					            <label class="col-md-6">
					                <input type="radio" name="auth_type" checked="checked" />
					                MD5
					            </label>
					        </div>
					    </div>
					</div>
					<div class="form-group">
		                <label for="community" class="col-md-2 control-label">共同体:</label>
		                <div class="col-md-10">
		                    <input type="text" class="form-control w300" id="community" name="community" />
		                </div>
		            </div>
					<hr />
			    	<h4>SNMP TRAP控制</h4>
			    	<div class="form-group">
		                <label for="trap_enable" class="col-md-2 control-label">TRAP启用:</label>
		                <div class="col-md-10">
		                    <div class="radio">
		                        <label class="col-md-6">
		                            <input type="radio" id="trap_enable" name="trap_enable" value="on" />
									是
		                        </label>
		                        <label class="col-md-6">
		                            <input type="radio" name="trap_enable" value="off" checked="checked" />
									否
		                        </label>
		                    </div>
		                </div>
		            </div>
		            <div class="form-group">
		                <label for="trap_ip" class="col-md-2 control-label">SNMP Trap IP类型:</label>
		                <div class="col-md-10">
		                    <div class="radio">
		                        <label class="col-md-6">
		                            <input type="radio" id="trap_ip" name="trap_ip" value="ipv4" checked="checked" />
		                            IPv4
		                        </label class="col-md-6">
		                        <label>
		                            <input type="radio" name="trap_ip" value="ipv6" />
		                            IPv6
		                        </label>
		                    </div>
		                </div>
		            </div>
		            <div class="form-group">
		                <label for="input_ipv4" class="col-md-2 control-label">SNMP Trap IP地址:</label>
		                <div class="col-md-10">
		                    <input type="text" class="form-control" id="input_ipv4" name="input_ipv4" />
		                </div>
		            </div>
		            <div class="form-group">
		                <label for="trap_v3_username" class="col-md-2 control-label">SNMP Trap 用户名:</label>
		                <div class="col-md-10">
		                    <input type="text" class="form-control" id="trap_v3_username" name="trap_v3_username" />
		                </div>
		            </div>
		            <div class="form-group">
		                <label for="trap_v3_password" class="col-md-2 control-label">SNMP Trap 密码:</label>
		                <div class="col-md-10">
		                    <input type="password" class="form-control" id="trap_v3_password" name="trap_v3_password" />
		                </div>
		            </div>
		            <div class="form-group">
		                <label for="trap_v3_engineid" class="col-md-2 control-label">SNMP TrapV3 引擎ID:</label>
		                <div class="col-md-10">
		                    <input type="text" class="form-control" id="trap_v3_engineid" name="trap_v3_engineid" />
		                </div>
		            </div>
		            <div class="form-group">
		                <label for="trap_v3_privacy_password" class="col-md-2 control-label">SNMP TrapV3 私有密码:</label>
		                <div class="col-md-10">
		                    <input type="password" class="form-control" id="trap_v3_privacy_password" name="trap_v3_privacy_password" />
		                </div>
		            </div>
		            <div class="form-group">
		                <label for="trap_v3_privacy_protocol" class="col-md-2 control-label">SNMP TrapV3 加密协议:</label>
		                <div class="col-md-10">
		                    <div class="radio">
		                        <label class="col-md-6">
		                            <input type="radio" id="trap_v3_privacy_protocol" name="trap_v3_privacy_protocol" value="aes" />
		                            AES
		                        </label>
		                        <label class="col-md-6">
		                            <input type="radio" name="trap_v3_privacy_protocol" value="des" checked="checked" />
		                            DES
		                        </label>
		                    </div>
		                </div>
		            </div>
		            <div class="form-group">
			            <div class="form-actions">
			                <a href="snmp/save" type="submit" class="btn btn-default"><span class="fa fa-ok"></span>保存</a>
			                <button type="reset" class="btn btn-default"><span class="fa fa-cog"></span>重置</button>
			            </div>
			        </div>
				</form>
			</div>
		</div>
	</div>
</div>
{% end %}